<p id="notice"><%= notice %></p>

<p>
  <strong>Song name:</strong>
  <%= @song.song_name %>
</p>

<p>
  <strong>Artist name:</strong>
  <%= @song.artist_name %>
</p>

<p>
  <strong>Genre name:</strong>
  <%= @song.genre_name %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
